.blogDetail-section{
    padding: 2% 7%;
}
.blogDetailHeader h1 {
  color: var(--blue, #143771);
  text-align: center;
  font-family: Montserrat;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.blogDetails{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 57px;
}
.blogDetails p{
    color: var(--gray, #363E47);
font-size: 22px;
font-style: normal;
font-weight: 400;
line-height: 35.2px; 
}
.blogDetails img{
    width: 1100px;
    height: 755px;
}
